
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
Mountains/Background.png
Mountains/Background.png.import
Mountains/Layer 1 anim1.png
Mountains/Layer 1 anim1.png.import
Mountains/Layer 1 anim2.png
Mountains/Layer 1 anim2.png.import
Mountains/Layer 1 clound anim1.png
Mountains/Layer 1 clound anim1.png.import
Mountains/Layer 1 clound anim2.png
Mountains/Layer 1 clound anim2.png.import
Mountains/Layer 2 anim1.png
Mountains/Layer 2 anim1.png.import
Mountains/Layer 2 anim2.png
Mountains/Layer 2 anim2.png.import
Mountains/Layer 3 anim1.png
Mountains/Layer 3 anim1.png.import
Mountains/Layer 3 anim2.png
Mountains/Layer 3 anim2.png.import
Mountains/Layer 3 clound anim1.png
Mountains/Layer 3 clound anim1.png.import
Mountains/Layer 3 clound anim2.png
Mountains/Layer 3 clound anim2.png.import
Mountains/Layer 4 anim1.png
Mountains/Layer 4 anim1.png.import
Mountains/Layer 4 anim2.png
Mountains/Layer 4 anim2.png.import
Mountains/Layer 5 anim1.png
Mountains/Layer 5 anim1.png.import
Mountains/Layer 5 anim2.png
Mountains/Layer 5 anim2.png.import
Mountains/Layer 6 anim1.png
Mountains/Layer 6 anim1.png.import
Mountains/Layer 6 anim2.png
Mountains/Layer 6 anim2.png.import
Mountains/Layer 7 anim1.png
Mountains/Layer 7 anim1.png.import
tileset.png
tileset.png.import
